/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply styles to the entire body with a background image */
body {
    background-image: url('images/thecreator.jpg'); /* Replace 'background.jpg' with your image file name or URL */
    background-size: cover; /* Ensures the image covers the entire body */
    background-attachment: fixed; /* Fixes the background image in place */
    font-family: 'Calibri', sans-serif;
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0;
    color: #000; /* Set text color for the entire resume */
    position: relative; /* Position the content relative to the body */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the content within the resume */
.container {
    max-width: 800px;
    margin: auto;
    padding: 3px; /* Further reduced padding */
    background-color: #66cccc; /* Add a semi-transparent background to the content */
    position: relative; /* Position the content relative to the body */
    z-index: 1; /* Ensure content is above the background image */
    margin-top: 1%;
}

/* Style the header */
header {
    text-align: center;
    padding: 3px 0; /* Further reduced padding */
    color: #fff; /* Text color for the header */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for the header */
    position: relative; /* Position the header relative to the body */
    z-index: 2; /* Ensure header is above the background image */
}

/* Style the contact, education, experience, skills, relevant coursework, projects, and references sections */
section.separator {
    margin: 3px 0; /* Further reduced margin */
    padding: 3px; /* Further reduced padding */
    border: 1px solid #ddd;
    background-color: #66cccc;
    position: relative; /* Position the sections relative to the body */
    z-index: 1; /* Ensure sections are above the background image */
}

/* Style headings */
h1, h2, h3 {
    font-family: 'Tangerine', cursive; /* Replace 'CursiveFont' with your chosen creative font */
    color: #ff00ff; /* Replace with your unique color code */
    font-size: 19px; /* Further reduced font size */
}

/* Style links */
a {
    color: #0077cc; /* Link color */
    text-decoration: none;
}

/* Style links on hover */
a:hover {
    text-decoration: underline;
}

/* Style list items */
li {
    list-style: disc; /* Use disc bullets for list items */
    margin-left: 10px; /* Further
